.eventNameSection {
  padding: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  button {
    width: 100%;
    border-radius: 20px;

    padding-block: 4px;
    height: 38px;
  }
}

.active {
  background-color: var(--background-tint);
}

.li {
  width: 100%;
  margin-bottom: 4px;
  opacity: 0;

  &.enter {
    opacity: 0;
    transition: opacity linear 400ms;
  }
  &.enterActive {
    opacity: 1;
    transition: opacity linear 400ms;
  }
  &.enterDone {
    opacity: 1;
    transition: opacity linear 400ms;
  }
}
