.eventsSection {
  padding-top: 8px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  overflow: hidden;
  gap: 16px;
}

.aside {
  overflow: scroll;
  white-space: nowrap;
}

.title {
  margin-bottom: 12px;
}
